<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
  <meta charset="UTF-8">
    <title>Admin panel</title>
</head>
<body>
<div th:insert="/navbar::navbar"></div>
<a class="btn btn-success" th:href="@{/create-user}">Create new user</a>

<table class="table">
  <thead class="thead-light">
  <tr>
    <th scope="col">Username</th>
    <th scope="col">Password</th>
    <th scope="col">Role</th>
    <th>Modify</th>
    <th>Delete</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="user: ${users}">
    <td th:text="${user.getUsername()}"></td>
    <td th:text="${user.getPassword()}"></td>
    <td th:text="${user.getRole()}"></td>
    <td>
      <form th:action="@{/modify}" method="post">
        <input type="hidden" name="id" th:value="${user.getId()}" />
        <input type="submit" class="btn btn-primary" value="Modify">
      </form>
    </td>
    <td>
      <form th:action="@{/deleteById}" method="post">
        <input type="hidden" name="id" th:value="${user.getId()}" />
        <input type="submit" class="btn btn-danger" value="Delete">
      </form>
    </td>
  </tr>
  </tbody>
</table>
</body>
</html>