<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <meta charset="UTF-8">
    <title>Library application</title>
</head>
<body>
<div th:insert="/navbar::navbar"></div>
<table class="table">
    <thead class="thead-light">
    <tr>
        <th scope="col">#</th>
        <th scope="col">Title</th>
        <th scope="col">Author</th>
        <th scope="col">Publishing House</th>
        <th scope="col">Year Of Publication</th>
        <th scope="col">Number Of Pages</th>
        <th sec:authorize="isAuthenticated()">Add to library</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="book: ${books}">
        <th scope="row" th:text="${book.getId()}"></th>
        <td th:text="${book.getTitle()}"></td>
        <td th:text="${book.getAuthor()}"></td>
        <td th:text="${book.getPublishingHouse()}"></td>
        <td th:text="${book.getYearOfPublication()}"></td>
        <td th:text="${book.getNumberOfPages()}"></td>
        <td>
            <form sec:authorize="isAuthenticated()" th:action="@{/addBook}" method="post">
                <input type="hidden" name="id" th:value="${book.getId()}" />
                <input type="submit" class="btn btn-success" value="Add to my library">
            </form>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>