<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="en">
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
  <meta charset="UTF-8">
</head>
<body>
  <div th:fragment="navbar">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" th:href="@{/}">Library application</a>
        <div class="navbar-nav dropdown ml-auto">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            <img style="height: 40px; width: 6 0px;" src="https://devtalk.blender.org/uploads/default/original/2X/c/cbd0b1a6345a44b58dda0f6a355eb39ce4e8a56a.png">
          </a>
          <div class="dropdown-menu listRight" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" sec:authorize="isAnonymous()" th:href="@{/signIn}">Sign in</a>
            <a class="dropdown-item" sec:authorize="isAnonymous()" th:href="@{/signUp}">Sign Up</a>
            <a class="dropdown-item" sec:authorize="isAuthenticated()" th:href="@{/library}">My library</a>
            <a class="dropdown-item" sec:authorize="hasRole('ADMIN')" th:href="@{/admin-panel}">Admin panel</a>
            <a class="dropdown-item" sec:authorize="isAuthenticated()" th:href="@{/logout}">Logout</a>
          </div>
        </div>
    </nav>
    <div class="border-top my-1"></div>
  </div>
</body>
</html>